.slider {
  width: 250px;
  height: 300px;
  overflow: hidden;
  position: relative;
  
}

.navigation_slider {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar {
  height: 5px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: #484848;
  opacity: 0.3;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.bar:hover {
  opacity: 0.5;
  transform: scale(1.1);
}
input[name="rad"] {
  position: absolute;
  visibility: hidden;
}
.slides {
  width: 300%;
  height: 100%;
  display: flex;
  
}
.slide {
  width: 33%;
  transition: all 0.6s ease;
}
.slide div {
  width: 95%;
  height: 100%;
  margin: auto;
  padding: 1rem;
}
#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -33%;
}
#r3:checked ~ .s1 {
  margin-left: -66%;
}
#r4:checked ~ .s2 {
  margin-left: 0;
}
#r5:checked ~ .s2 {
  margin-left: -33%;
}
#r6:checked ~ .s2 {
  margin-left: -66%;
}