@import vars
@import mixin

.staff
    width: 90%
    height: 600px
    margin: 3rem auto
    &_nav ol
        +flex-row
        margin: 0 10%
        list-style-type: none
        & li
            color: $color-shadow
            font-weight: 800
            display: inline-block
            margin: 0 .2rem
            padding: .4rem
            border: 2px solid #d4d4d4
            border-radius: .2rem
            transition: all .5s ease
            &:hover
                border: 2px solid $color-pink
                cursor: pointer
            &.staff_active
                border: 2px solid $color-pink
                background-color: $color-pink
                color: $color-bg
    &_list
        columns: 300px auto
        position: relative
        margin: 2rem auto
        padding: 3rem 1rem 1rem 2rem
        box-shadow: $box-shadow
        background-color: $color-bg
        border-radius: .2rem
    &_item
        +flex-row
        justify-content: space-around
        padding: .5rem 1rem
    &_photo
        width: 90px
        height: 90px
        background-color: #877e7e
    &_index
        position: absolute
        top: .3rem
        left: .6rem
        font-size: 2.5rem
        font-weight: 900
        color: $color-pink
// #A:before
//     content: "A"
//     font-size: 2rem
//     position: absolute
