body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", Arial, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.2;
  background-color: #f4f4f4;
}

header {
  background-color: rgb(6, 96, 175);
  background-image: radial-gradient(circle at 10% 10%, rgb(169, 58, 84), rgba(6, 96, 175, 0.5) 50%), radial-gradient(circle at 60% 90%, rgb(6, 96, 175), rgb(169, 58, 84) 50%);
  padding: 0.3rem;
  box-shadow: 0px 3px 7px -5px #09011a;
}
header .container {
  align-items: center;
}

main {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-content: flex-between;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  text-decoration: none;
  font-weight: 900;
  color: #FFF;
  opacity: 0.7;
  display: inline-block;
  padding: 1rem 2rem;
  transition: all 0.5s ease;
}
.navigation a:hover {
  opacity: 1;
}
.navigation_drop {
  display: none;
  position: absolute;
  padding: 0;
  z-index: 1;
  background-color: #fff;
  border-color: #fff;
  min-width: 350px;
  top: 3rem;
  border-radius: 0.2rem;
  box-shadow: 0px 3px 7px -5px #09011a;
}
.navigation_drop li {
  margin: 0;
  transition: all 0.5s ease;
}
.navigation_drop li a {
  color: #000;
  width: 100%;
  box-sizing: border-box;
}
.navigation_drop li:hover a {
  background-color: rgb(6, 96, 175);
  opacity: 0.6;
  color: #fff;
  border-radius: 0.2rem;
}
.navigation_list {
  position: relative;
  box-sizing: border-box;
}
.navigation_list:hover {
  cursor: pointer;
}
.navigation_list:hover .navigation_drop {
  display: flex;
  flex-direction: column;
}

.home_page {
  display: flex;
  justify-content: space-between;
  width: 200px;
  color: #b6b6b6;
  font-weight: 900;
  text-decoration: none;
  transition: all 0.5s ease;
  align-items: center;
}
.home_page span {
  margin-left: 0.2rem;
  font-size: 0.7rem;
  text-align: center;
}
.home_page_logo {
  filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(314deg) brightness(104%) contrast(102%);
  width: 60px;
}
.home_page_search input {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  opacity: 0.9;
  outline: none;
  border: none;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
}
.home_page_search input::-moz-placeholder {
  color: #fff;
  font-size: 0.9rem;
  opacity: 0.5;
  padding-left: 0.5rem;
}
.home_page_search input:-ms-input-placeholder {
  color: #fff;
  font-size: 0.9rem;
  opacity: 0.5;
  padding-left: 0.5rem;
}
.home_page_search input::placeholder {
  color: #fff;
  font-size: 0.9rem;
  opacity: 0.5;
  padding-left: 0.5rem;
}

.news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 2rem 1rem;
  width: 75%;
  box-shadow: 0px 3px 7px -5px #09011a;
  background-color: #fff;
  border-radius: 0.2rem;
}
.news_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  padding: 1rem;
  min-width: 200px;
  width: 25%;
  max-height: 400px;
  overflow: hidden;
}
.news_item_left {
  margin-bottom: 1rem;
}
.news_item_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
}
.news_item_footer a {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #ef4158;
  opacity: 0.8;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.2rem;
  transition: opacity 0.5s ease;
}
.news_item_footer a:hover {
  opacity: 1;
}
.news_item h1 {
  margin: 0 0 0.5rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.news_item p {
  color: #666666;
}
.news_img {
  width: 100%;
  border-radius: 0.1rem;
  box-shadow: 0px 3px 7px -5px #09011a;
}

.announcement {
  margin: 2rem 1rem 1rem;
}

.more_info, .new_staff {
  height: 380px;
  margin: 1rem auto 2rem;
  background-color: #fff;
  box-shadow: 0px 3px 7px -5px #09011a;
  border-radius: 0.2rem;
}
.more_info h1, .new_staff h1 {
  margin: 0;
  text-transform: uppercase;
  opacity: 0.9;
  font-weight: bold;
  padding: 1rem;
  border-bottom: 1px solid #eef6f4;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  align-items: flex-start;
}

footer {
  padding: 2rem;
  text-align: center;
}

.footer_contacts {
  margin: 0;
  padding: 0;
  list-style: none;
}/*# sourceMappingURL=style.css.map */